*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
.kutu-1{
    width: 300px;
    height: 300px;
    background-color: gray;
    box-shadow: 12px 12px 0px black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    transition: 1s;
}
.kutu-1 p{
    cursor: pointer;
    filter: drop-shadow(6px 4px 0px rgb(71, 71, 71));
    font-size: 24px;
}
.kutu-1:hover{
    transition: 1s;
    background-color: rgb(133, 92, 30);
    box-shadow: 12px 12px 0px rgb(44, 31, 0);
}
